@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.todo{
    margin-top: 30px;
}
.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-input{
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #000;
    background-color: #fff;
    margin: 0 10px;
}
.button{
    width: 80px;
    border-radius: 10px;
    margin: 0 10px;
    height: 30px;
    outline: none;
    background-color: #4ccb4c;
    color: #fff;
    border: none;
    padding: 0 10px;
}
.button:hover{
    background-color: #49bc49;
    color: #eeeeee;
}
.button:active{
    background-color: #42ab42;
    color: #d5d5d5;
}
.task-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.task-elem{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.task-text{
    margin: 0 10px;
}
.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
}